@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');
*{
    font-family: 'Noto Sans TC', sans-serif;

}
body{
    margin: 0;
    text-align: center;
    /* background-image: url(../img/back.jfif); */
   
    color: #0F4A7D ;
    
}
a {
    text-decoration:none;
}

.contaner{
    width: 750px;
    height: 750px;
    background: #F0EDE4

    ;
    margin: -10px auto 10px;
    border-radius: 25px;
    box-shadow: black 10px 5px 5px ;
    
}
.menu{
    margin: auto;
    align-items: center;
    padding: 10px;

}
.main{
    margin: auto ;
    padding: 30px;
    /* overflow: scroll;
    height: 720px; */
}
.tag{
    width: 100px;
    height: 50px;
    background: lightgoldenrodyellow;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    box-shadow: black  10px 3px 5px;
   
}
.tag:hover{
    background: cadetblue;
}
.center{
    margin: auto;
    align-items: center;
}